*{
    box-sizing:border-box;
    
}
.container-fluid
{
    width:100%;
    
}
.row
{
    margin:12px 0 12px 80px;
}
#heading
{
    text-align:center;
    margin:20px 0 45px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:54px;
}
.col1,.col2,.col3
{
    
    float:left;
    width:30%;
    background:darkgray;
    margin:10px;
    border:2px solid black;
}
.item1,.item2,.item3
{
    position: relative;
    float:right;
    width:120px; 
    text-align:center;
    padding:6px;
    border-left:2px solid black;
    border-bottom:2px solid black;
    font-family:Arial, Helvetica, sans-serif;
    
}
.description
{
    padding:70px 10px 20px 10px;
    font-family:Arial, Helvetica, sans-serif; 
}
.item2
{
    background:rgb(0,0,248);
    color:white;
}
.item3
{
    background:rgb(255,182,193);
}
.item1
{
    background:rgb(210,0,0);
}
row::after,.item3::after,.item1::after,.item2::after
{
    content:"";
    clear:both;
    display:block;
}
@media screen and (min-width:768px) and (max-width:991px)
{
            
    .col1,.col2
              
      {           
          width:47%;             
      }
    .col3
     {                  
         width:96%;
     }
    .row
    {
        margin:0;
    }
              
}
@media screen and (max-width:767px)
{
    .col1,.col2,.col3
    {
        width:96%;
    }
    .row
    {
        margin:0;
    }
}
   